 /************************************* TAG SELECTORS *************************************/
 body {
     color: #40514E;
     margin: 0;
     font-family: 'Merriweather', serif;
     text-align: center;

 }


 h1 {
     margin: 0;
     font-size: 5.625rem;
     padding-top: 5rem;
     font-family: 'Sacramento', cursive;
     color: #66BFBF;

 }

 h2 {
     font-size: 2.5rem;
     font-family: 'Montserrat', sans-serif;
     font-weight: normal;
     color: #66BFBF;
     margin: 2rem auto 2rem auto;
 }

 h3 {
    margin-bottom: 2rem;
     font-family: 'Montserrat', sans-serif;
     color: #11999E;
 }

 p {
     color: #40514E;
     line-height: 2;

 }

 a {
     color: #11999E;
     font-family: 'Montserrat', sans-serif;
     text-decoration: none;

 }

 a:hover {
    color: #EAF6F6;
 }

 hr {
     border-style: none;
     border-bottom: 10px dotted;
     border-color: #D2D2D2;
     width: 4rem;
     margin: 4rem auto 4rem auto;
 }

 /************************************* CLASS SELECTORS *************************************/

 .top-container {
     background-color: #EAF6F6;
 }


 .top-cloud {
     top: 50px;
     position: absolute;
     right: 200px;
 }

 .bottom-cloud {
     position: absolute;
     left: 200px;
 }

 .profile {
     width: 50%;
     margin: 2rem auto 2rem auto;

     line-height: 2;
 }

 .photo {
     width: 30%;
     border-radius: 100%;

 }

 .skill-row {
     width: 50%;
     margin: 2rem auto 3rem auto;
     text-align: left;


 }

 .photo_coding {
     width: 25%;
     border-radius: 100%;
     float: right;
     margin-left: 2rem;
 }

 .photo_handstand {

     width: 25%;
     border-radius: 100%;
     float: left;
     margin-right: 2rem;
 }

 .contact-me {
     width: 25%;
     text-align: center;
     margin: auto auto 3rem auto;
 }


 .btn {
     background: #11cdd4;
     background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
     background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
     background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
     background-image: -o-linear-gradient(top, #11cdd4, #11999e);
     background-image: linear-gradient(to bottom, #11cdd4, #11999e);
     -webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 28px;
     font-family: 'Montserrat', sans-serif;
     color: #ffffff;
     font-size: 20px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
     margin-bottom: 3rem;
 }

 .btn:hover {
     background: #30e3cb;
     background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
     background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
     background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
     background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
     background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
     text-decoration: none;
 }

 .bottom-container {
     background-color: #66BFBF;
     margin: 2rem auto 0 auto;
     padding-top: 2rem;

 }
 .bye{
    margin-bottom: 3rem;
 }

 .footer-link {
     color: #11999E;
     margin: 1rem;


 }

 .copy_right {
     color: #EAF6F6;
     margin-bottom: 0;
     padding-bottom: 1rem;
 }