body {
    background-color: #3A98B9;
}

hr {

    border-style: none;
    border-bottom: 4px dotted;
    border-color: grey;
    width: 20px;
}
h1{
    color: #FFF1DC;
}
h2{
    color: #FFF1DC;
}
h3{
    color: #FFF1DC;
}
